<IfModule mod_rewrite.c>
  RewriteEngine On

  # Passa todas as requisições que não começam com /dist para dentro da pasta /dist/
  RewriteCond %{REQUEST_URI} !^/dist/
  RewriteRule ^(.*)$ dist/$1 [L]
</IfModule>
